/**More Complex Styled app version  7 - 'index css' - Features:
 * 
 *        --> Building a 'Global Variable' to keep and distribute
 *            a color for Custom 'box' Style Class.
 * 
 * Note: to set colors from a single global source to the 
 * component i need it.
 */

 /*Here i build a target the 'root' element to create the 
 *variable, i set as 'primary' (but can be any name)*/
 :root{
  --primary: yellowgreen;
   /*Here i build a 'Global VAriable' to customize it**/
  --mainBorder:1px solid whitesmoke;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*this style align the text to center and capitalize it,
*--the center where is contained the 'div'--
**/
.title{
  text-align: center;
  text-transform: capitalize;
  color:yellowgreen
}

.bg-redwine-shade{
  width: 90%;
  height: 5rem;
  margin: 0 auto;
  background: #790000;
}

.section-title{
  color:powderblue
}


/*this style is for the button**/
.btn{
  background: #171717;
  /*the color of the button text**/
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  /*the hand of the cursor**/
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.25rem;
  display: block;
  width: 200px;
  /*this property set it on center**/
  margin: 1rem auto;
}